.content h1:not(:first-child),
.content h2:not(:first-child),
.content h3:not(:first-child),
.content h4:not(:first-child),
.content h5:not(:first-child),
.content h6:not(:first-child),
article+article {
    margin-top: 10px;
}

.title:not(:last-child) {
    margin-bottom:0;
}

*:not(a) > .title:hover {
    -webkit-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    transform: translateY(-4px)
}

.title:hover a {
    color: #b52323;
}

.title {
    color: #000000;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}

.subtitle {
    display: inline;
}

.content {
    margin-top:1.0em;
}

article {
    padding: 1.5em 0;
}

article+article {
    border-top: 1px solid #e6e6e6;
}

.not-found {
    text-align: center;
	padding: 20px;
}

.not-found .error-emoji {
    color: #363636;
    font-size: 3rem
}

.not-found .error-text {
    color: #797979;
    font-size: 1.25rem
}

.not-found .error-link {
    margin-top: 2rem
}

.not-found .error-link a {
    color: #c05b4d
}

.post-nav {
    margin: 2em 0;
    padding: 10px 0;
    border-top: 1px solid #e6e6e6;
}

.post-nav:after,.post .post-footer .post-nav:before {
    content: " ";
    display: table;
}

.post-nav:after {
    clear: both;
}

.post-nav .next, .post-nav .prev {
    color: #000000;
    font-weight: 200;
    font-size: 18px;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}

.post-nav .prev {
    float: left;
}

.post-nav .prev:hover {
    color: #b52323;
    -webkit-transform: translateX(-4px);
    -ms-transform: translateX(-4px);
    transform: translateX(-4px)
}

.post-nav .next {
    float: right;
}

.post-nav .next:hover {
    color: #c05b4d;
    -webkit-transform: translateX(4px);
    -ms-transform: translateX(4px);
    transform: translateX(4px)
}

.post-nav .nav-mobile {
    display: none;
}
